li {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 3px #ccc;
  width: 16rem;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  background-color: #eee;
}
